<!DOCTYPE html>
<html>
	<head>
		<title>Chenillard</title>
		<script type="text/javascript" src="./node_modules/jquery/dist/jquery.min.js" ></script>
		<link link rel="shortcut icon" type="image/x-icon" href="img/bb8.png"/>
		<link rel="stylesheet" href="./css/style.css"/>
		<link rel="stylesheet" href="./node_modules/bootstrap/css/bootstrap.min.css"/>
		<script type="text/javascript" src="./node_modules/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>

		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
  		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

		<script type="text/javascript" src="node_modules/jscolor/jscolor.js"></script>


		<!--
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
		<script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
		<link rel="stylesheet" href="./node_modules/angularjs-slider/dist/rzslider.css"/>
		<script type="text/javascript" src="./node_modules/ng-toast/dist/ngToast.min.js"></script>
		<link rel="stylesheet" href="./node_modules/ng-toast/dist/ngToast.min.css">


	<div class="col-md-6">
	<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
      <md-slider flex min="0" max="255" aria-label="red" id="red-slider"> </md-slider>
	</div>

    -->

		<script type="text/javascript" src="./node_modules/socket.io-client/socket.io.js"></script>
		<script type="text/javascript" src="./js/client.js"></script>
	</head>

<body>
	
Color: <input class="jscolor" onchange='couleur(this)' value="cc66ff">
	
	<div ng-app="myApp">
	<div ng-controller="myCtrl">

		<div class="row">
			<div class"col-md-12">
			<rzslider rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
		
			</div>
		</div>
		<div class="row">

			<div class= "col-md-4">
				<button type="button" ng-click="loop()" class="btn btn-primary btn-lg btn-block">{{loopstart}}</button>	
			</div>

			<div class="col-md-4">
				<br>
				<label for="usr">Vitesse :</label>
				<input type="Number" ng-model="vitesse"><br>
				<p>Vitesse actuelle : {{speed}}</p>
				<br><button type="button" ng-click="setspeed()" class="btn btn-secondary btn-lg btn-block">Send Vitesse</button><br>
				<button type="button" ng-click="changedirection()" class="btn btn-secondary btn-lg btn-block">Changer de sens</button><br>
			</div>
		</div>
		

	<div class="row">
		<div class="col-md-offset-1">
			<div class="col-md-1 col-md-offset-1" ng-repeat="x in lampes track by $index">
		            <img ng-src="{{x.img}}" ng-click="lampe(x.num)" height="200" width="200">
		    </div>
		</div>
	</div>

	<div class="row">

			<div class="col-md-3" ng-repeat="x in Hue track by $index">
		           	<div class="col-md-7">
		           	 <img ng-src="{{HueImg}}" ng-click="changeonhue(x.lampe)" height="200" width="200"> {{x.on}}
		           	</div>
		           	<div class="col-md-1">
		           		<md-slider flex ng-model="x.bri" min="0" max="254" aria-label="brightness" id="brigthness-slider" class="md-accent" md-vertical md-range ng-click="changebrihue(x.lampe)"></md-slider> <md-slider-container>Luminosité de la Hue {{x.lampe}} : {{x.bri}}</md-slider-container>
		           	</div>
		           	<div class="col-md-1 col-md-offset-2">
		           		<md-slider flex ng-model="x.sat" min="0" max="254" aria-label="saturation" id="saturation-slider" class="md-accent" md-vertical md-range ng-click="changesathue(x.lampe)"></md-slider> <md-slider-container>Saturation de la Hue {{x.lampe}} : {{x.sat}}</md-slider-container>
		           	</div>
		    </div>
	</div>
      


	</div>
	</div>
</body>

</html>