html {
    overflow-x: hidden;
    /*overflow-y:hidden;*/
    zoom: 1;
}

body {
    /*background : url("../img/10.jpg") fixed center center ;*/
    background-color: rgb(200, 200, 200);
    overflow-x: hidden;
    /*overflow-y:hidden;*/
}

.cliquable {
    display: block;
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
    text-align: center;
}

.pink {
    background-color: rgb(255, 64, 129);
}

.bouttons {
    color: white;
    background-color: rgb(40, 40, 40);
}

.envoieVersBdd {
    color: white;
    background-color: green;
}

.Blackbox {
    margin-bottom: 20px;
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom:15px;
    background-color: rgb(40, 40, 40);
}

.enregistrementModeleTitre {
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left:0px;
    padding-left: 0px;
}

.enregistrementModeleContenu {
    font-family: "Comic Sans Ms";
    font-size: 17px;
}

.text {
    font-family: "Comic Sans Ms";
    font-size: 15px;
}

.carreCouleurHue {
    border: solid black;
    width: 30px;
    height: 30px;
}

.Whitebox {
    margin: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid black;
    background: rgb(255, 255, 255);
    height:140px;
}

.modele {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 2px solid black;
    margin-top:20px;
}

.bdd {
    text-align: center;
    margin-top : 20px;
    background-color: rgb(40, 40, 40);
    border: 2px solid black;
    border-radius: 10px; 
    color: white;
    font-family: "Comic Sans Ms";
    font-size: 15px;
}

.trash {
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
}

.lancerModele {
    background-color: green;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    font-family: "Comic Sans Ms";
    font-size: 15px;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

.affichage {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 15px;
    padding-left: 20px;
    margin:20px;
    padding-right: 30px;
    padding-top: 15px;
    border: 2px solid black;
}

.nomModele {
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
}

img {
    outline: 0;
}

.center {
    text-align: center;
}