html
{
overflow-x: hidden
}
body{
background : url("../img/10.jpg") fixed center center ;
overflow-x: hidden;
	}


body h1{
	font-family: "Comic Sans Ms";
	font-size: 30px;
}	

.box {
    margin-bottom: 20px;
    margin-top : 30px;
    padding: 15px;
    background: rgba(40,40,40,1);
}

img{
outline:0;
}

.center{
text-align: center;
}