				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 enregistrementModeleTitre">
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							Chenillard
						</div>
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							Lampes
						</div>
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							Hue
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 enregistrementModeleContenu">

						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							<div class="row">
								Sens : {{EnregistrementModele.chenillard.sens}}
							</div>
							<div class="row">
								Vitesse : {{EnregistrementModele.chenillard.speed}}
							</div>
						</div>

						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							<div ng-show="lampeKnx">
								<div ng-repeat="x in EnregistrementModele.lampes">
									<div class="row">
										Lampe {{x.num}} : {{x.etat}}
									</div>
								</div>
							</div>
							<div ng-show="!lampeKnx">
								Aucune lampe Knx de connectée
							</div>
						</div>

						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
							<div ng-show="lampeHue">
								<div ng-repeat="x in EnregistrementModele.hue">
									<div class="row">
										<div class="col-md-7 col-lg-7 col-xs-7 col-sm-7">
											Hue {{x.lampe}}
										</div>
										<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
											<div class="carreCouleurHue" style="background-color: {{x.couleur}}; display:inline-block;"></div>
										</div>								
									</div>
								</div>
							</div>
							<div ng-show="!lampeHue">
								Aucune Hue de connectée
							</div>
						</div>
						
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" style="padding-top:20px">
						<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
								<input id="name_modele" class="text" type="text" size="15" maxlength="15" placeholder="Nom du modèle">
						</div>
						<div  class="col-md-5 col-md-offset-1 col-xs-5 col-xs-offset-1 col-lg-5 col-lg-offset-1 col-sm-5 col-sm-offset-1">
								<div class="lancerModele img" ng-click="EnregistrerModele()">Enregistrer nouveau modèle</div>
						</div>
					</div>					
				</div>	
		